nginx/dist/*
nginx/logs/*
nginx/**/*.key
nginx/**/*.crt
nginx/**/*.csr
mysql/data/*
nacos/standalone-logs/*
redis/insight/data/*
redis/data/*
elasticsearch/esdata*
elasticsearch/eslogs*
elasticsearch/plugins
elasticsearch/kibanadata
elasticsearch/certs
nacos-no-auth/data/*
